// @author Tyler Sedlar
// @since 10/8/15

extend full-layout
block header-info
    h4 #{player_name}
block content
    each player_name in player_names
        p.player-name #{player_name}
    form(name="Join game", method="post" class="row")
        div.actions
            div.col-xs-6
                input(class="col-xs-12 btn-cust-green btn-lg" type="submit", value="Start")
            div.col-xs-6
                input(class="col-xs-12 btn-cust btn-lg" type="button" onclick="location.href='/';" value="Exit")
