// @author Tyler Sedlar
// @since 10/8/15

extend full-layout
block header-info
    h4 #{player_name}
block content
    div(id="game")
    | <script>
    include ../public/js/Internet.js
    | </script>
    | <script>
    include ../public/js/jQuery.js
    | </script>
    script(type="text/javascript").
        var gameID = getParameter("game_id");
        var playerID = getParameter("player_id");

        function startGame() {
            $.post("/start-game", {"game_id": gameID}, function(data) {
                renderGame();
                endGameCycle();
            }, "JSON");
        }

        function endGame() {
            alert("End game");
        }

        function restartGame() {
            alert("Restart game");
        }

        function renderGame() {
            $("#game").load("/render-game?game_id=" + gameID);
        }

        function startGameCycle() {
            renderGame();
            setInterval(renderGame, 5000);
        }

        function endGameCycle() {
            clearInterval(renderGame);
        }

        $(document).ready(function () {
            startGameCycle();
        });