// @author Tyler Sedlar
// @since 10/8/15

extend full-layout
block header-info
    h4 #{player_name}
block content
    each player_name in player_names
        p.player-name #{player_name}
    span(class="tn-group")
        input(class="btn-lg btn-cust btn-block" type="submit", value="Start Game")
        input(class="btn-lg btn-cust btn-block" type="submit", value="End Game")
