// @author Tyler Sedlar
// @since 10/8/15

extend full-layout
block header-info
    h4 Welcome, #{player_name}
    div(id="data")
block content
    div(id="game")
    | <script>
    include ../public/js/Internet.js
    | </script>
    | <script>
    include ../public/js/jQuery.js
    | </script>
    script(type="text/javascript").
        var gameID = getParameter("game_id");
        var playerID = getParameter("player_id");

        var renderInterval;

        function startGame() {
            $.post("/start-game", {"game_id": gameID}, function (data) {
                renderGame();
            }, "JSON");
        }

        function endGame() {
            alert("End game");
        }

        function restartGame() {
            alert("Restart game");
            $("p.player-name").css("border-color", "#4FC3F7");
        }

        function renderGame() {
            $("#game").load("/render-game?game_id=" + gameID);
            $("#data").load("/render-game-role?game_id=" + gameID +
                    "&player_id=" + playerID, function () {
                var firstElement = $("*[name='firstPlayerIndex']");
                if (firstElement.length) {
                    endGameCycle();
                    var firstIndex = parseInt(firstElement.attr("id"));
                    var players = $("p.player-name");
                    var player = players.eq(firstIndex);
                    player.css("border-color", "#388E3C");
                }
            });
        }

        function startGameCycle() {
            renderGame();
            renderInterval = setInterval(renderGame, 1000);
        }

        function endGameCycle() {
            clearInterval(renderInterval);
            renderInterval = null;
        }

        $(document).ready(function () {
            startGameCycle();
        });