// @author Tristen Hogue
// @since 10/8/15

extend layout
block content
    form(name="Join game", method="post" class="row")
        div.input#form-group
            span.label Game ID
            input(class="form-control" type="text", name="id", id="id" value="Game ID")
            div.input
            span.label Player Name
            input(class="form-control" type="text", name="playerName", id="PlayerName"
            value="Player Name")
            br
            br
        div.actions
            div.col-xs-6
                input(class="col-xs-12 btn-cust btn-lg" type="submit", value="Start")
            div.col-xs-6
                input(class="col-xs-12 btn-cust btn-lg" type="button" onclick="location.href='/';" value="Back")
