// @author Tristen Hogue
// @since 10/8/15

extend full-layout
block content
    form(name="Join game", method="post", action="/join-game", class="row")
        div.input#form-group
            span.label Game ID
            input(class="form-control", type="text", name="gameID", id="gameID",
            placeholder="Game ID")
            div.input
            span.label Player Name
            input(class="form-control" type="text", name="playerName", id="PlayerName",
            placeholder="Player Name")
            br
            br
        div.actions
            div.col-xs-6
                input(class="col-xs-12 btn-cust btn-lg", type="submit", value="Join")
            div.col-xs-6
                input(class="col-xs-12 btn-cust btn-lg", type="button",
                onclick="location.href='/';", value="Back")
