// @author Tyler Sedlar
// @since 10/8/15

if role
    if role === "Scout"
        h4 You are the <b>Scout</b>
    else
        h4 You're at <b>#{location}</b> as a <b>#{role}</b>
    h4(id="#{first}" name="firstPlayerIndex") <b>#{firstName}</b> will ask the first question
